*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
background: #6b665e;
margin: 0;
}

img {
display: block;
}

.Achtergrond{
width: 100%;
height: 105%;
position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
  
}


h1{
  font-size: 200%;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  width: 60vw;
  padding: 20px;

}

header{
  position: fixed;
  top: 0;
  right: 0;
  font-size: 100%;
  border: white 1px solid;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 5px;
}


.Zoekbar{
margin: 10px 0px;
float: right;
padding: 6px;
border: none;
margin-right: 10px;
font-size: 17px;
}

.topnav {
  width: 80vw;
  margin: 0 auto;
  background-color: #535353;
  overflow: auto;
  border: white solid 1px;
  font-size: 10px;
} 


.topnav a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;  
  background-color: #535353;  
}


.topnav a:hover {
  
  color: rgb(255, 255, 255);
}

.Openingstijden-content :hover{
  border-bottom: white solid 1px;
}


.topnav a.active {
 
  color: 333(0, 0, 0);
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a, .Openingstijden {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Tijden a:hover, .Tijden:hover .Openingstijden {
  background-color: #757575;
}

.Tijden {
  display: inline-block;
}

.Openingstijden-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.Openingstijden-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.Tijden:hover .Openingstijden-content {
  display: block;
}







.SliderF{
width: 100%;
height: 800px;
align-content: center;
}

.slideshow-container {
max-width: 81%;
max-height: 10%;
position: relative;
margin: auto;
}


.mySlides {
display: none;
}


.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}


.next {
right: 0;
border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}


.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}


.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}


.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}


.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.Exposities{
  border: white 2px solid;
  text-align: center;
  font-size: 200%;
  margin: 0 auto;
  width: 90%;
  border-radius: 5px;
  margin-top: 150px;
  background-color: #535353;
  color: white;
  }


.Expositie1, .Expositie3{
font-size: 22px;
margin-left: 180px;
margin-top: 200px;
width: fit-content;
border: white 2px solid;
padding: 150px;
margin-right: 900px;
text-align: center;
background-color: #535353;
color: white;
border-radius: 10px;
}

.Expositie2, .Expositie4{
font-size: 22px;
margin-right: 180px;
margin-top: 200px;
border: white 2px solid;
padding: 150px;
margin-left: 1100px;
text-align: center;
background-color: #535353;
color: white;
border-radius: 10px;
}

.Expositie1, .Expositie2, .Expositie3, .Expositie4 { transition: all .2s ease-in-out; }
.Expositie1:hover, .Expositie2:hover, .Expositie3:hover, .Expositie4:hover { transform: scale(1.1); }

.Expositie3{
margin-top: 200px;
}

a:link {
background-color: transparent;
text-decoration: none;
}
a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}
a:hover {
color: #383838;
background-color: transparent;
text-decoration: none;
}
a:active {
color: white;
background-color: transparent;
text-decoration: none;
}


.Overig{
border: white 2px solid;
text-align: center;
font-size: 200%;
margin: 0 auto;
width: 90%;
border-radius: 5px;
margin-top: 150px;
background-color: #535353;
}

.Geschiedenis{
border: white 2px solid;
text-align: center;
font-size: 200%;
margin: 0 auto;
width: 90%;
border-radius: 5px;
margin-top: 150px;
background-color: #535353;
}


.GFont{
  font-size: 65%;
  margin-left: 20px;
  margin-right: 20px;
}

.Knop1{
float: right;
position: fixed;
right: 0;
bottom: 0;
width: 80px;
margin: 0 auto;
background-color: #535353;
color: white;
text-align: center;
padding: 10px;
border-radius: 5px;
cursor: pointer;
border: none;
border: white 1px solid;
}


.Scherm {
display: none;
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4); 
-webkit-animation-name: fadeIn; 
-webkit-animation-duration: 0.4s;
animation-name: fadeIn;
animation-duration: 0.4s
}


.Scherm-Inhoud {
position: fixed;
bottom: 0;
background-color: #fefefe;
width: 100%;
-webkit-animation-name: slideIn;
-webkit-animation-duration: 0.4s;
animation-name: slideIn;
animation-duration: 0.4s
}


.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.Scherm-Boven {
padding: 2px 16px;
background-color: #535353;
color: white;
}

.Klachten{
border-bottom: black solid 1px;
}

.Scherm-Body {padding: 2px 16px;}

.Scherm-Onder{
padding: 2px 16px;
background-color: #535353;
color: white;
}

@-webkit-keyframes slideIn {
from {bottom: -300px; opacity: 0} 
to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
from {bottom: -300px; opacity: 0}
to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}

@keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}





.Reviewss{
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
}


.section3{
  background-color: #535353;
  padding: 100px 0px;
  margin-top: 50px;
  border-top: 1px white solid;
}

.Review1{
border: 2px white solid;
border-radius: 10px;
padding: 10px;
width: 50%;
background-color: #7B7771;
color: white;
margin: 0 auto;
margin-top: 100px;
}

.ReviewN{
border-bottom: solid white 1px;
}

.Review2{
border: 2px white solid;
border-radius: 10px;
padding: 10px;
width: 50%;
background-color: #7B7771;
color: white;
margin: 0 auto;
margin-top: 50px;
}

.ReviewN2{
border-bottom: solid white 1px;
}

footer{
  background-color: rgb(31, 31, 31);
  text-align: center;
  padding: 0.3% 0px;
  color: #f2f2f2;
}











@media screen and (max-width:1000px) {


    .Expositie1, .Expositie2, .Expositie3, .Expositie4{
      margin: 0 auto;
      font-size: 22px;
      margin-top: 100px;
      padding: 100px;
      width: 600px;
    }
    
    .Expositie1, .Expositie2, .Expositie3, .Expositie4 { transition: all .2s ease-in-out; }
    .Expositie1:hover, .Expositie2:hover, .Expositie3:hover, .Expositie4:hover { transform: scale(1.1); }
    
    .Expositie3{
    margin-top: 100px;
    }   

    .Expositie2{
      margin-top: 100px;
    }

    .Expositie4{
      margin-top: 100px;
    }

    .Expositie1{
      margin-top: 200px;
    }

    .SliderF{
      size: 10%;
      height: 5%;
    }
    .Achtergrond{
      width: 100%;
      height: 90%;
      position:absolute;
      left:0px;
      top:0px;
      z-index:-1;
          
    }
    .Review1,.Review2{
      margin-top: 100px;
      width: 80%;
      margin-right: 50px;
      margin-left: 50px;
      margin: 0 auto;
      margin-top: 50px;
    }
}



@media screen and (max-width:800px) {

  
  .Expositie1, .Expositie2, .Expositie3, .Expositie4{
    margin: 0 auto;
    font-size: 22px;
    margin-top: 100px;
    padding: 100px;
    width: 600px;
  }

  .Expositie1{
    margin-top: 200px;
  }


  .SliderF{
    size: 10%;
    height: 5%;
  }

  .Achtergrond{
    width: 100%;
    height: 80%;
    overflow: hidden;
    position:absolute;
  }

  .Review1,.Review2{
    width: 80%;
    margin-right: 50px;
    margin-left: 50px;
    margin: 0 auto;
    margin-top: 50px;
  }
  h1{
    font-size: 200%;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    width: 60vw;
    padding: 20px;
  }
}



@media screen and (max-width:700px) {

  
  .Expositie1, .Expositie2, .Expositie3, .Expositie4{
    width: 400px;
  }
  

  .SliderF{
    size: 10%;
    height: 5%;
  }

  .Achtergrond{
    width: 100%;
    height: 70%;
    overflow: hidden;
    position:absolute;
  }

  .Review1,.Review2{
    font-size: 15px;
    margin-top: 100px;
  }

  .Zoekbar{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
    width: 120px;
  }
    
  .topnav {
    width: 80vw;
    margin: 0 auto;
    font-size: 10px;
  } 
    
    
  .topnav a {
    font-size: 14px;  
  }

}

@media screen and (max-width:650px) {

  
  .Expositie1, .Expositie2, .Expositie3, .Expositie4{
    width: 400px;
  }

  .Achtergrond{
    width: 100%;
    height: 70%;
    overflow: hidden;
    position:absolute;
  }

  .Review1{
    display: block;
  }

  .Review2{
    display: block;
  }

  .Review1,.Review2{
    font-size: 15px;
    margin-top: 50px;
    width: 80%;
  }

  .Zoekbar{
    padding: 6px;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 12px;
    width: 90px;
  }
    
  .topnav {
    width: 80vw;
    margin: 0 auto;
    font-size: 10px;
  } 
    
    
  .topnav a {
    font-size: 16px;  
  }

}

@media screen and (max-width:600px) {

  
  .Expositie1, .Expositie2, .Expositie3, .Expositie4{
    width: 400px;
  }

  .Achtergrond{
    width: 100%;
    height: 60%;
    overflow: hidden;
    position:absolute;
  }

  .Review1,.Review2{
    font-size: 15px;
    margin-top: 50px;
  }
  .section3{
    width: 100%;
  }

  .Zoekbar{
    padding: 6px;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 12px;
    width: 60px;
  }
    
  h1{
    font-size: 200%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    padding: 20px;
  }

}

@media screen and (max-width:450px) {


  .topnav {
    width: 100vw;
    margin: 0 auto;
    background-color: #535353;
    overflow: auto;
    border: white solid 1px;
    font-size: 10px;
  } 

  header{
    font-size: 10px;
    padding: 5px 5px;
  }
  
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;  
    background-color: #535353;  
  }

  
  .Expositie1, .Expositie2, .Expositie3, .Expositie4{
    width: 250px;
    padding: 50px;
  }

  .Expositie1{
    margin-top: 100px;
  }

  .Achtergrond{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position:absolute;
  }

  .Review1,.Review2{
    font-size: 15px;
    margin-top: 100px;
    width: 80%;
  }

  .Zoekbar{
    padding: 6px;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 12px;
    width: 60px;
  }
  
    
  h1{
    font-size: 200%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    padding: 20px;
  }

}

@media screen and (max-width:400px) {

  .topnav {
    width: 100vw;
    margin: 0 auto;
    font-size: 5px;
  }

  h1{
    font-size: 30px;
  }

  .SliderF{
    width: 100%;
    height: 200px;
    align-content: center;
    }
    
  .slideshow-container {
    max-width: 90%;
    max-height: 10%;
  }
  
  .topnav a {
    font-size: 15px;  
  }

  .Achtergrond{
    width: 100%;
    height: 60%;
  }

  .Zoekbar{
    padding: 6px;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 12px;
    width: 60px;
  }

}

@media screen and (max-width:355px) {
  .topnav a{
    font-size: 11px;
  }

  h1{
    font-size: 20px;
  }

}



.h4{
  margin-top: 200px;
}

.sectie{
  color: white;
  width: 70vw;
  margin: 0 auto;
}

.h41{
  margin-top: 200px;
}

.h42, .h43, .h44{
  margin-top: 100px;
}






